.navbar {
  height: 60px;
  width: 100%;
  background: #58a6f9;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

#tsparticles canvas {
  z-index: -1;
}


.home {
  height: 100vh;
}

.mobile-menu {
  display: none;
}

.nav-content {
  display: flex;
  gap: 10vw;
}

.navbar li {
  display: block;
  text-decoration: none;
  margin-right: 30px;
  cursor: pointer;
}

.navbar li a {
  text-decoration: none;
  color: #ffffff;
}

.navbar li :hover {
  color: #040079;
}
.signup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
}
.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logincontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 48%;
  border: 1px solid #000000;
  padding: 1em;
  border-radius: 0.5em;
  gap: 1em;
  margin-top: 10%;
}
.signup form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48%;
  border: 1px solid #000000;
  padding: 1em;
  border-radius: 0.5em;
  gap: 1em;
}
.inputbox {
  border: 1px solid lightgrey;
  padding: 1.5em;
  width: 75%;
  border-radius: 0.4em;
}
.password-input {
  border: 1px solid lightgrey;
  padding: 1.5em;
  width: 75%;
  border-radius: 0.4em;
  outline: none;
  display: flex;
  justify-content: space-between;
  height: 2vh;
  background-color: white;
}
.passwordbox{
  border: none;
  outline: none;
  width: 100%;
}
.inputBtn {
  padding: 1em;
  width: 20%;
  border: 1px solid #000000;
  border-radius: 0.4em;
  margin-top: 1em;
  background-color: #58e3f9;
}
.logo {
  position: absolute;
  left: 25px;
}

.aboutMe {
  height: 150px;
  width: 500px;
  margin: 20px;
  font-size: larger;
}

.Myname {
  color: #58a6f9;
}

.web-dev-img {
  height: 500px;
  width: 500px;
  position: absolute;
  top: 96px;
  right: 20px;
  background-size: contain;
}

.resumeBtn {
  height: 50px;
  width: 80px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 20px;
  background-color: #58a6f9;
  /* position: relative;
  top: 30vh;
  left: 8vw; */
}

.resumeBtn a {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
}

#aboutPage {
  display: flex;
  margin-top: 15%;
  margin-bottom: 100px;
}

.Aboutleft {
  width: 50vw;
}

.Aboutright {
  width: 50vw;
}

.About {
  margin: 30px;
}

.aboutContainer {
  height: 115px;
  width: 500px;
  border: 1px solid #000000;
  border-radius: 3px;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutRightContainer {
  margin: 30px;
  margin-top: 10vh;
}

.Aboutright-content {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.MusicPlayer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.musicImg {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.btn {
  border: 1px solid #000000;
  background-color: #58a6f9;
  border-radius: 3px;
  height: 30px;
}

.btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  color: #000000;
  text-decoration: none;
}

.homeBtn {
  height: 40px;
  border: 1px solid #000000;
  background-color: #58a6f9;
  border-radius: 3px;
  margin-top: 30px;
  cursor: pointer;
}

.contact-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  height: 450px;
  width: 400px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
  box-shadow: 2px 4px 10px 0px #3a3a3a;
}

.form-container input {
  height: 30px;
  width: 80%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.form-container textarea {
  height: 100px;
  width: 80%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.form-container button {
  height: 40px;
  width: 50%;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #58a6f9;
  color: #000000;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  position: relative;
  bottom: 0px;
  height: 100px;
  width: 100%;
}

.linkedin {
  font-size: xx-large;
}
.linkedin a {
  color: #000000;
}
.linkedin a:hover {
  color: #5d5d5d;
  font-size: 35px;
}



.mobileMenu-container {
  height: 30vh;
  width: 40vw;
  background-color: #58a6f9cf;
  position: absolute;
  right: 0px;
  z-index: 1;
  box-shadow: 5px 5px 13px 4px dimgrey;
}

.mobileMenu-container {
  display: none;
  /* Hide by default */
}

.mobileMenu-container.show {
  display: block;
  /* Show when the state is true */
  /* transition: all 1s ease-out; */
  ;
}

.mobileMenu-container.hide {
  display: none;
  /*Hide when the state is false  */
}

.mobileMenu-content li {
  display: flex;
  text-decoration: none;
  padding: 2vh;
  justify-content: space-around;
  align-items: center;
}

.mobileMenu-content li:hover {
  background-color: #58e3f9;
}

.mobileMenu-content li a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;

}

.mobileMenu-content li a:hover {
  text-decoration: none;
  color: #000000;

}

.popUp {
  height: 45vh;
  width: 30vw;
  background-color: #242323;
  margin: 5vh;
  display: none;
  z-index: 1;
  position: relative;
  color: #ffffff;

}

.popUp p {
  margin-left: 20px;
  width: 90%;
}

.tech_name {
  border: 1px solid white;
  margin-left: 0.5em;
  margin-bottom: 0.75em;
  padding: 3px 8px;
  border-radius: 15px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mernstack-popup {
  display: none;
}

.mernstack-popup.show {
  display: block;
}

.mernstack-popup.hide {
  display: none;
}

.mongodbpopup {
  color: #000000;
  background-color: #0ef30e;
  height: 22px;
  width: 75px;
  position: absolute;
  margin: 0.5em;
  padding: 2px 8px;
  border-radius: 16px;
  left: 16%;
  box-shadow: 2px 8px 5px #000000;
}

.expresspopup {
  color: #000000;
  background-color: #ffffff;
  height: 22px;
  width: 75px;
  position: absolute;
  margin: 0.5em;
  padding: 2px 8px;
  border-radius: 16px;
  left: 34%;
  box-shadow: 2px 8px 5px #000000;
}

.reactpopup {
  color: #000000;
  background-color: #08efff;
  height: 22px;
  width: 60px;
  position: absolute;
  margin: 0.5em;
  padding: 2px 8px;
  border-radius: 16px;
  left: 51%;
  box-shadow: 2px 8px 5px #000000;
}

.nodepopup {
  color: #000000;
  background-color: #029c02;
  height: 22px;
  width: 61px;
  position: absolute;
  margin: 0.5em;
  padding: 2px 8px;
  border-radius: 16px;
  left: 68%;
  box-shadow: 2px 8px 5px #000000;
}

.alphabate {
  border: 1px solid white;
  margin-left: 5px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.mongodb {
  color: #0ef30e;
}

.react {
  color: #58e3f9;
}

.technology {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.popUp.show {
  display: block;
  bottom: 20vh;
  left: 10vw;
  border-radius: 2vh;
  height: 70%;
  width: 40vw;
}

.popUp.hide {
  display: none;
}

.popUpCross {
  margin-top: 10px;
  margin-right: 10px;
  position: relative;
  left: 34vw;
}

.mernstackIcon {
  display: flex;
  gap: 50px;
  margin-top: 50px;
  margin-left: 20px;
  font-size: xxx-large;
  justify-content: center;
}

.mernstack {
  display: flex;
  gap: 50px;
  margin-top: 10px;
  justify-content: center;
}

.mernstack span {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.line{
  width: 100%;
  height: 1px;
  background-color: #505050;
}
footer{
  height: 20vh;
  width: 100%;
  background-color: #d5d5d56e;
}
.footer-content{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p{
  font-weight: 600;
}
.footer-socila-media{
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.footerSocialMediaContent{
  font-size: x-large ;
}
.footerSocialMediaContent a{
  color: #000000;
}
.footerSocialMediaContent a:hover{
  color: #3d3d3d;
  font-size: 27px;
}

.Buffer{
  height: 100px;
  width: 100px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 50vw;
  bottom: 30vh;
}
.innerBuffer{
  height: 50px;
  width: 50px;
  background-color: #ffffff;

}
@media (max-width: 800px) {
  .navbar {
    height: 60px;
    width: 100%;
    background: #58a6f9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    font-size: large;
  }

  .home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .aboutMe {
    height: 100px;
    width: 65%;
    margin: 20px;
    font-size: small;
  }

  .web-dev-img {
    height: 300px;
    width: 300px;
    position: relative;
    top: 15vh;
  }

  .nav-content {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .resumeBtn {
    position: relative;
    top: 20vh;
  }

  .mernstackIcon {
    margin-left: 0px;
  }

  .social-media {
    display: block;
    position: absolute;
    bottom: 43vh;
    right: 2px;
    width: 9%;
  }

  .popUpCross {
    margin-top: 10px;
    margin-right: 10px;
    position: relative;
    left: 90%;
    border-radius: 1vh;
  }

  .popUp.show {
    width: 90%;
    height: 80%;
    display: block;
    bottom: 23vh;
    left: -11px;
    border-radius: 2vh;
  }

  .popUp {
    height: 40vh;
    width: 70vw;
    background-color: #242323;
    margin: 5vh;
    display: none;
    z-index: 1;
    position: absolute;
  }

  .technology {
    width: 90%;
    margin: 6px;
    font-size: 10px;
  }

  .mongodbpopup {
    color: #000000;
    background-color: #0ef30e;
    height: 22px;
    width: 75px;
    position: absolute;
    margin: 0.5em;
    padding: 2px 8px;
    border-radius: 16px;
    left: 0%;
    box-shadow: 2px 8px 5px #000000;
  }

  .expresspopup {
    color: #000000;
    background-color: #ffffff;
    height: 22px;
    width: 75px;
    position: absolute;
    margin: 0.5em;
    padding: 2px 8px;
    border-radius: 16px;
    left: 22%;
    box-shadow: 2px 8px 5px #000000;
  }

  .reactpopup {
    color: #000000;
    background-color: #08efff;
    height: 22px;
    width: 60px;
    position: absolute;
    margin: 0.5em;
    padding: 2px 8px;
    border-radius: 16px;
    left: 47%;
    box-shadow: 2px 8px 5px #000000;
  }

  .nodepopup {
    color: #000000;
    background-color: #029c02;
    height: 22px;
    width: 61px;
    position: absolute;
    margin: 0.5em;
    padding: 2px 8px;
    border-radius: 16px;
    left: 73%;
    box-shadow: 2px 8px 5px #000000;
  }
}

@media (max-width: 1200px) {
  #aboutPage {
    flex-direction: column;
    align-items: center;
  }


  .popUp.show {
    display: block;
    bottom: 0vh;
    border-radius: 2vh;
  }

  .Aboutleft {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
  }

  .Aboutright {
    width: 100vw;
  }

  .aboutContainer {
    width: 85vw;
    height: 25vh;
    font-size: 14px;
  }


  .form-container {
    width: 55vw;
    height: 60vh;
  }

  .mongodbpopup {
    left: -1%;
  }

  .expresspopup {
    left: 30%;
  }

  .reactpopup {
    left: 53%;
  }

  .nodepopup {
    left: 74%;
  }
}
@media (max-height: 1100px){
  .popUp.show {
    height: 62%;
}
}